<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Izikgram</title>
    <link th:href="@{/images/Logo.png}" rel="shortcut icon" type="image/x-icon">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <style type="text/tailwindcss">
        @theme {
            --color-main-sky-highlight: #00a3ed;
            --color-main-sky-basic: #9bdcfd;
            --color-main-red-highlight: #ff5353;
            --color-main-red-basic: #ff9898;
            --color-main-yellow-highlight: #fbc159ff;
            --color-main-yellow-basic: #fdd391;

            /* gray-400*/
            --color-light-text: oklch(0.704 0.04 256.788);
        }

        @media screen and (max-width: 599px) {
            .infoDiv {
                width: 100%;
            }

            #manageDiv {
                flex-direction: column;
                justify-items: center;
            }

            #manageDiv a {
                width: 100%;
            }
            #exit {
                margin-top: 2em;
            }
        }
    </style>
    <script>
        function openModal() {
            document.getElementById('deleteModal').classList.remove('hidden');
        }

        function closeModal() {
            document.getElementById('deleteModal').classList.add('hidden');
        }
    </script>
</head>
<body class="font-roboto mobile-container relative">
<div id="headerDiv" class="pt-12"><header th:replace="~{header :: header} " class="pt-4"></header></div>
<footer th:replace="~{footer :: footer}" class="pt-4"></footer>
    <div class="flex min-h-full flex-col px-6 py-12 lg:px-8">
        <div class="sm:mx-auto w-full sm:max-w-sm mt-10">
            <h2 class="text-gray-1000 text-xl">계정관리</h2>
            <div class="sm:mx-auto sm:w-full sm:max-w-sm bg-light-text h-0.5"></div>
        </div>
        <div class="sm:mx-auto sm:w-full sm:max-w-sm rounded-md outline text-gray-300 mb-20 mt-2 infoDiv">
            <div id="manageDiv" class="flex flex-col justify-center m-10 space-x-3">
                <!-- 비밀번호 변경 -->
                <a th:href="@{/user/checkPwd}"
                   class="w-full text-white bg-main-sky-highlight px-4 py-2 rounded-md hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-blue-400 text-center">
                    비밀번호 변경
                </a>

                <a id="exit" onclick="openModal()" class="mt-10 text-left text-base/1 text-gray-500 text-light-text hover:text-sky-800 underline">회원을 탈퇴 하실건가요?</a>
            </div>

            <!-- 회원 탈퇴 모달 -->
            <form action="/user/delete" method="POST">
                <div id="deleteModal" class="relative z-51 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                    <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

                    <div class="fixed inset-0 z-10 w-screen overflow-y-auto flex items-center justify-center p-4 sm:items-center sm:p-0">
                        <div class="flex min-h-full items-center justify-center p-4 w-full max-w-md text-center sm:items-center sm:p-0">
                            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all w-11/12 max-w-xs sm:my-8 sm:w-full sm:max-w-lg">
                                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                    <div class="sm:flex sm:items-start">
                                        <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10">
                                            <svg class="size-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                                            </svg>
                                        </div>
                                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                            <h3 class="text-base font-semibold text-gray-900" id="modal-title">회원 탈퇴</h3>
                                            <div class="mt-2">
                                                <p class="text-sm text-gray-500">정말로 회원 탈퇴를 진행하시겠습니까?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                                    <button type="submit"
                                            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto">
                                        탈퇴하기
                                    </button>
                                    <button onclick="closeModal()" type="button"
                                            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 sm:mt-0 sm:w-auto">
                                        취소
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>