<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Izikgram</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <!-- calender -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:src="@{/js/locale.js}"></script>
    <script th:src="@{/js/bootstrap-material-datetimepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap-material-datetimepicker.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/tailwindcss">
        @theme {
            --color-main-sky: #00a3ed;
        }

        @media screen and (min-width: 769px) {
            .mobile-container {
                width: 600px;
                margin: 0 auto;
                background: white;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                min-height: 100vh;
            }
        }

        @media screen and (max-width: 768px) {
            .mobile-container {
                width: 100%;
                background: white;
                min-height: 100vh;
            }
        }
    </style>

</head>
<body class="h-full font-roboto mobile-container">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-3xl tracking-tight text-gray-900">개인정보 수정</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <!--수정완료 후 메인으로 이동-->
        <form class="space-y-6" action="/user/update" th:action="@{/user/update}" method="POST">
            <div>
                <label for="nickname" class="block text-lg/6 text-gray-900">별명</label>
                <div class="mt-2">
                    <input type="text" id="nickname" name="nickname" th:value="${#authentication.getPrincipal().getUser().getNickname()}" required placeholder="자신만의 별명을 지어보세요!" class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">

                </div>
            </div>
            <div>
                <label for="email" class="block text-lg/6 text-gray-900">이메일</label>
                <div class="mt-2">
                    <input type="email" id="email" name="email" th:value="${#authentication.getPrincipal().getUser().getEmail()}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div>
                <label for="intro" class="block text-lg/6 text-gray-900">자기소개(최대 30자)</label>
                <div class="mt-2">
                    <input type="text" id="intro" name="intro" th:value="${#authentication.getPrincipal().getUser().getIntro()}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div>
                <label for="birth_date" class="block text-lg/6 text-gray-900">생년월일</label>
                <div class="mt-2">
                    <input type="date" id="birth_date" name="birth_date" th:value="${#authentication.getPrincipal().getUser().getBirth_date()}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div>
                <label for="loc_mod" class="block text-lg/6 text-gray-900">희망 근무지</label>
                <div class="mt-2">
                    <select id="loc_mod" name="loc_mod" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        <option value="101000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '101000'}">서울</option>
                        <option value="102000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '102000'}">경기</option>
                        <option value="103000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '103000'}">광주</option>
                        <option value="104000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '104000'}">대구</option>
                        <option value="105000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '105000'}">대전</option>
                        <option value="106000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '106000'}">부산</option>
                        <option value="107000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '107000'}">울산</option>
                        <option value="108000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '108000'}">인천</option>
                        <option value="109000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '109000'}">강원</option>
                        <option value="110000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '110000'}">경남</option>
                        <option value="111000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '111000'}">경북</option>
                        <option value="112000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '112000'}">전남</option>
                        <option value="113000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '113000'}">전북</option>
                        <option value="114000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '114000'}">충북</option>
                        <option value="115000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '115000'}">충남</option>
                        <option value="116000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '116000'}">제주</option>
                        <option value="117000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '117000'}">전국</option>
                        <option value="118000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '118000'}">세종</option>
                        <option value="210000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '210000'}">아시아중동</option>
                        <option value="220000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '220000'}">북중미</option>
                        <option value="230000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '230000'}">남미</option>
                        <option value="240000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '240000'}">유럽</option>
                        <option value="250000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '250000'}">오세아니아</option>
                        <option value="260000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '260000'}">아프리카</option>
                        <option value="270000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '270000'}">남극대륙</option>
                        <option value="280000" th:selected="${#authentication.getPrincipal().getUser().getLoc_mod() == '280000'}">기타해외</option>
                    </select>
                </div>
            </div>

            <div class="flex space-x-4">
                <!-- 산업/업종 -->
                <div class="flex-1">
                    <label for="ind_cd" class="text-center block text-lg/6 text-gray-900">산업/업종</label>
                    <div class="mt-2">
                        <select id="ind_cd" name="ind_cd" required
                                class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option value="1" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '1'}">서비스업</option>
                            <option value="2" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '2'}">제조.화학</option>
                            <option value="3" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '3'}">IT.웹.통신</option>
                            <option value="4" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '4'}">은행.금융업</option>
                            <option value="5" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '5'}">미디어.디자인</option>
                            <option value="6" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '6'}">교육업</option>
                            <option value="7" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '7'}">의료.제약.복지</option>
                            <option value="8" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '8'}">판매.유통</option>
                            <option value="9" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '9'}">건설업</option>
                            <option value="10" th:selected="${#authentication.getPrincipal().getUser().getInd_cd() == '10'}">기관.협회</option>
                        </select>
                    </div>
                </div>

                <!-- 학력 -->
                <div class="flex-1">
                    <label for="edu_lv" class="text-center block text-lg/6 text-gray-900">학력</label>
                    <div class="mt-2">
                        <select id="edu_lv" name="edu_lv" required
                                class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option value="0" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '0'}">학력무관</option>
                            <option value="1" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '1'}">고등학교졸업</option>
                            <option value="2" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '2'}">대학졸업(2,3년)</option>
                            <option value="3" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '3'}">대학졸업(4년)</option>
                            <option value="4" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '4'}">석사졸업</option>
                            <option value="5" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '5'}">박사졸업</option>
                            <option value="6" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '6'}">고등학교졸업이상</option>
                            <option value="7" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '7'}">대학졸업(2,3년)이상</option>
                            <option value="8" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '8'}">대학졸업(4년)이상</option>
                            <option value="9" th:selected="${#authentication.getPrincipal().getUser().getEdu_lv() == '9'}">석사졸업이상</option>
                        </select>
                    </div>
                </div>

                <!-- 월급날 -->
                <div class="flex-1">
                    <label for="payday" class="text-center block text-lg/6 text-gray-900">월급날</label>
                    <div class="mt-2">
                        <select id="payday" name="payday" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option th:each="payday : ${#numbers.sequence(1, 31)}"
                                    th:value="${payday}"
                                    th:text="${payday}"
                                    th:selected="${payday == #authentication.getPrincipal().getUser().getPayday()}">
                            </option>
                        </select>

                    </div>
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-main-sky px-3 py-1.5 text-lg/6 text-white shadow-xs hover:bg-sky-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-800 cursor-pointer">수정 완료</button>
            </div>
        </form>
    </div>
</div>
</body>
<!-- calender -->
<script>
    $('#birth_date').bootstrapMaterialDatePicker();
</script>
</html>