.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-gothic-bold {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
}
