@media screen and (max-width: 599px) {
    /* button */
    #sendSmsBtn, #checkButton {
        height: 2em;
        width: 8em;
        padding-top: 0.4em;
    }

    .findResultBtn {
        font-size: 1em;
    }

    /* timeDiv1 */
    #timeDiv1 {
        flex-direction: column;
        gap: 1.5em;
    }

    #timeDiv1 div select {
        height: 50px;
        width: 100%;
    }

    #paydayLabel {
        margin-right: 2.3em;
    }

    #timeDiv1 div label {
        width: 8em;
        margin-left: 0;
    }

    #timeDiv1 div input {
        width: 100%;
    }

    /* time picki */
    .time,
    .mins,
    .meridian {
        width: 2em;
        font-size: 1em;
    }
    .timepicker_wrap {
        left: -20px !important;
    }
    .time_pick {
        width: 100%;
    }

    /* timeDiv2 */
    #timeDiv2 {
        display: block;
        gap: 1.5em;
    }

    #timeDiv2_div {
        margin-bottom: 1.5em;
    }

    #lunch_time_div {
        flex-direction: column;
        position: relative;
        left: 0;
    }

    #timeDiv2 div label {
        width: 8em;
        margin-right: 0;
    }

    #end_time_label + input {
        width: auto;
    }

    #timeDiv2 div label {
        margin-right: 0;
    }

    #timeDiv2 div input {
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    /* indEduDiv */
    #indEduDiv {
        display: block;
        width: 100%;
    }
    #indDiv {
        width: 100%;
        margin: 0 0 1em 0;
    }
    #eduDiv {
        width: 100%;
        margin: 0;
    }
    #indDiv label,
    #eduDiv label,
    #indDiv input,
    #eduDiv input,
    #indDiv select,
    #eduDiv select {
        text-align: left;
    }
    #indDiv select,
    #eduDiv select {
        padding: 0.5em 1em;
    }

    #name,
    #auth_num,
    #member_id,
    #password,
    #password2,
    #phone_num,
    #birth_date,
    #email {
        font-size: 0.8em;
    }

    #loc_mod {
        font-size: 1em;
    }

    /* Modal */
    #modal_css {
        margin-bottom: 15em;
        width: 15em;
    }
}