<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/default.css}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style type="text/tailwindcss">
        .font-roboto {
            font-family: "Roboto", serif;
        }
    </style>
</head>
<div th:fragment="header" class="absolute top-7 left-0 w-full z-50" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- 슬라이드 메뉴 (모바일 컨테이너 내부에서만 슬라이드) -->
    <div id="B" class="flex items-center px-4 py-2 text-white w-full h-16">
        <!-- 첫 번째 버튼 (왼쪽) -->
        <button id="openBtn" onclick="openTop()" class="text-black text-2xl cursor-pointer mt-[-6px]">☰</button>

        <!-- 로고 이미지 (가운데 정렬) -->
        <div class="flex-1 flex justify-center">
            <a th:href="@{/main}">
                <img th:src="@{/images/izikgram.png}" alt="로고" class="h-8 w-[200px] h-[80px] mt-8px">
            </a>
        </div>

        <!-- 두 번째 버튼 (오른쪽) -->
        <a th:href="@{/main/alarm}">
            <button class="text-xl cursor-pointer mt-[-6px]">🔔</button>
        </a>
    </div>



    <!-- 상단 네비게이션 바 -->
    <div id="slidePanel" class="absolute top-0 left-0 h-full w-full hidden opacity-0 visibility-hidden transition-all duration-500 z-50">
        <div id="sidebar" class="absolute top-0 left-0 h-dvh bg-white shadow-lg p-5 z-50 w-3/5"> <!-- 사이드 바 크기 40%로 변경 -->
            <div class="absolute top-0 left-0 bg-blue-100 w-full h-20 p-5"></div>
            <!-- 닫기 버튼 -->
            <button id="closeBtn" type="button" onclick="closeTop()" class="absolute top-5 right-5 text-gray-500 hover:text-gray-700 text-sm cursor-pointer">✖</button> <!-- 버튼 크기 줄이기 -->

            <!-- 프로필 이미지 -->
            <img th:src="@{/images/chillguy.png}" class="w-[82px] h-[82px] rounded-[40px] relative mt-7 left-[7.5rem] top-12 z-10 " alt="사용자프로필 이미지"> <!-- 이미지 크기 40%로 줄이기 -->
            <div class="text-center mt-14">
                <div sec:authorize="isAuthenticated()">
                    <div th:text="${#authentication.getPrincipal() != null && #authentication.getPrincipal().getUser().getNickname() != null ? #authentication.getPrincipal().getUser().getNickname() : '닉네임을 정해주세요'}"></div>
                    <div th:text="${#authentication.getPrincipal() != null && #authentication.getPrincipal().getUser().getIntro() != null ? #authentication.getPrincipal().getUser().getIntro() : '자기소개를 써주세요'}"></div>
                </div>
            </div>

            <!-- 메뉴 리스트 -->
            <nav class="mt-6 list-none space-y-2">
                <li>
                    <a th:href="@{/user/mypage}" class="flex items-center p-2 text-gray-700 hover:bg-gray-200 rounded">
                        <svg class="w-4 h-4 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A9 9 0 0112 3a9 9 0 016.879 14.804M16 21v-2a4 4 0 00-8 0v2"/>
                        </svg>
                        마이페이지
                    </a>
                </li>
                <li>
                    <a th:href="@{/board/1}" class="flex items-center p-2 text-gray-700 hover:bg-gray-200 rounded">
                        <svg class="w-4 h-4 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16h8M8 12h8m-4-8h4a2 2 0 012 2v12a2 2 0 01-2 2H8a2 2 0 01-2-2V6a2 2 0 012-2h4z"/>
                        </svg>
                        자유게시판
                    </a>
                </li>
                <li>
                    <a th:href="@{/board/2}" class="flex items-center p-2 text-gray-700 hover:bg-gray-200 rounded">
                        <svg class="w-4 h-4 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17v-6a2 2 0 012-2h4m-4-4h4a2 2 0 012 2v12a2 2 0 01-2 2H9l-3 3V7a2 2 0 012-2h4z"/>
                        </svg>
                        하소연게시판
                    </a>
                </li>
                <li>
                    <a th:href="@{/board/hot}" class="flex items-center p-2 text-gray-700 hover:bg-gray-200 rounded">
                        <svg class="w-4 h-4 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m9-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                        인기게시판
                    </a>
                </li>
                <li>
                    <a th:href="@{/board/myboard}" class="flex items-center p-2 text-gray-700 hover:bg-gray-200 rounded">
                        <svg class="w-4 h-4 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                        </svg>
                        내 게시물
                    </a>
                </li>
                <li>
                    <a th:href="@{/job/scrap}" class="flex items-center p-2 text-gray-700 hover:bg-gray-200 rounded">
                        <svg class="w-4 h-4 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12l5 5l10 -10"/>
                        </svg>
                        찜한 채용공고
                    </a>
                </li>
                <li>
                    <a th:href="@{/job/}" class="flex items-center p-2 text-gray-700 hover:bg-gray-200 rounded">
                        <svg class="w-4 h-4 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l5 -5l-5 -5"/>
                        </svg>
                        채용공고 바로가기
                    </a>
                </li>
                <li>
                    <a th:href="@{/logout}" class="flex items-center p-2 text-red-600 hover:bg-red-100 rounded">
                        <svg class="w-4 h-4 mr-2 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H9m-6 4a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10"/>
                        </svg>
                        로그아웃
                    </a>
                </li>
            </nav>
        </div>

        <div class="absolute top-0 right-0 h-dvh bg-gray-950 shadow-lg p-5 z-50 w-2/5 opacity-50" onclick="closeTop()"></div>
    </div>

    <th:block>
        <script>
            function closeTop() {
                let target = document.getElementById('slidePanel');
                target.style.opacity = '0';
                target.style.visibility = 'hidden';

                setTimeout(function() {
                    target.style.display = 'none';
                }, 0);
            }

            function openTop() {
                let target = document.getElementById('slidePanel');
                target.style.display = 'block';
                setTimeout(function() {
                    target.style.opacity = '1';
                    target.style.visibility = 'visible';
                }, 0);
            }
        </script>
    </th:block>
</div>
</html>
