<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izikgram</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        @theme {
            --color-main-sky: #00a3ed;
        }

        @media screen and (min-width: 769px) {
            .mobile-container {
                width: 600px;
                margin: 0 auto;
                background: white;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                min-height: 100vh;
            }
        }

        @media screen and (max-width: 768px) {
            .mobile-container {
                width: 100%;
                background: white;
                min-height: 100vh;
            }
        }
    </style>
</head>
<body class="h-full font-roboto mobile-container">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-3xl tracking-tight text-gray-900">개인정보 수정</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <!--수정완료 후 메인으로 이동-->
        <form class="space-y-6" action="/" th:action th:object="${user}" method="POST">
            <div>
                <label for="nickname" class="block text-lg/6 text-gray-900">별명</label>
                <div class="mt-2">
                    <input type="text" id="nickname" th:field="*{nickname}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div>
                <label for="email" class="block text-lg/6 text-gray-900">이메일</label>
                <div class="mt-2">
                    <input type="email" id="email" th:field="*{email}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div>
                <label for="intro" class="block text-lg/6 text-gray-900">자기소개(최대 30자)</label>
                <div class="mt-2">
                    <input type="text" id="intro" th:field="*{intro}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div>
                <label for="birth_date" class="block text-lg/6 text-gray-900">생년월일</label>
                <div class="mt-2">
                    <input type="date" id="birth_date" th:field="*{birth_date}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
            </div>
            <div>
                <label for="loc_mod" class="block text-lg/6 text-gray-900">희망 근무지</label>
                <div class="mt-2">
                    <select id="loc_mod" th:field="*{loc_mod}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        <option value="" disabled selected>희망 근무지 선택해주세요.</option>
                        <option value="seoul">서울특별시</option>
                        <option value="gyeonggi">경기도</option>
                        <option value="busan">부산광역시</option>
                        <option value="daegu">대구광역시</option>
                        <!-- 다른 지역들 추가 가능 -->
                    </select>
                </div>
            </div>
            <div class="flex space-x-4">
                <!-- 산업/업종 -->
                <div class="flex-1">
                    <label for="loc_mod1" class="block text-lg/6 text-gray-900">산업/업종</label>
                    <div class="mt-2">
                        <select id="loc_mod1" th:field="*{loc_mod}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option value="IT" th:selected="${'IT' == user.loc_mod}">IT/소프트웨어</option>
                            <option value="marketing" th:selected="${'marketing' == user.loc_mod}">마케팅</option>
                        </select>
                    </div>
                </div>

                <!-- 학력 -->
                <div class="flex-1">
                    <label for="edu_lv" class="block text-lg/6 text-gray-900">학력</label>
                    <div class="mt-2">
                        <select id="edu_lv" th:field="*{edu_lv}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option value="universe4" th:selected="${'universe4' == user.edu_lv}">대졸 4년제</option>
                            <option value="universe2" th:selected="${'universe2' == user.edu_lv}">대졸 2년제</option>
                            <option value="high" th:selected="${'high' == user.edu_lv}">고등학교 졸업</option>
                        </select>
                    </div>
                </div>

                <!-- 월급날 -->
                <div class="flex-1">
                    <label for="payday" class="block text-lg/6 text-gray-900">월급날</label>
                    <div class="mt-2">
                        <select id="payday" th:field="*{payday}" required class="block w-full rounded-md bg-white px-3 py-1.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option th:each="payday : ${#numbers.sequence(1, 31)}" th:value="${payday}" th:text="${payday}" th:selected="${payday == user.payday}"></option>
                        </select>
                    </div>
                </div>
            </div>


            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-main-sky px-3 py-1.5 text-lg/6 text-white shadow-xs hover:bg-sky-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-800">수정 완료</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>