<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 게시글</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <style type="text/tailwindcss">
        /*.font-roboto {*/
        /*    font-family: "Roboto", serif;*/
        /*}*/
        @theme {
            --color-main-sky-highlight: #00a3ed;
            --color-main-sky-basic: #9bdcfd;
            --color-main-red-highlight: #ff5353;
            --color-main-red-basic: #ff9898;
            --color-main-yellow-highlight: #fbc159ff;
            --color-main-yellow-basic: #fdd391;
        }
    </style>
</head>
<body>
<div class="flex flex-col w-full mobile-container pt-8 relative bg-white rounded-lg shadow-lg mx-auto">
    <div class="pt-28"><header th:replace="~{/header :: header} " class="pt-4"></header></div>
    <footer th:replace="~{/footer :: footer}" class="pt-4"></footer>

    <div class=" mobile-container p-6">
        <h2 class="flex items-center gap-2 text-4xl font-black my-5">
            인기게시판
            <img class="w-10 h-10" src="https://img.icons8.com/?size=100&id=JC18XYuHYTN0&format=png&color=000000" alt="내가가게시판">
        </h2>
        <div>
            <div class="border-b  pb-2">
                <div class="flex items-center flex items-center justify-between gap-6">
                    <!-- 게시판 구분-->
                    <h2 class="text-2xl font-black ml-4">내가 작성한 게시글</h2>
                    <!-- 게시판 구분-->
                </div>
            </div>
            <table class="w-full text-left">
                <tbody>
                <!-- 반복되는 게시글 부분 -->
                <tr class="border-b-3 border-gray-400 border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <div class="mb-2 text-xl font-black flex items-center">
                            <a href="#">인기글1 제목입니다.</a>
                        </div>
                        <div class="text-gray-500 text-xl">
                            2025-02-11
                        </div>
                    </th>
                    <td class="">
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-red-highlight text-right">526</span>
                        </div>
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5 rotate-180">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-sky-highlight text-right">100</span>
                        </div>
                        <div class="flex justify-end">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=6520&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-right" >0</span>
                        </div>
                    </td>
                </tr>
                <!-- 반복되는 게시글 부분 -->
                <tr class="border-b-3 border-gray-400 border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <div class="mb-2 text-xl font-black flex items-center">
                            <a href="#">인기글2 제목입니다.</a>
                        </div>
                        <div class="text-gray-500 text-xl">
                            2025-02-11
                        </div>
                    </th>
                    <td class="">
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-red-highlight text-right">322</span>
                        </div>
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5 rotate-180">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-sky-highlight text-right">100</span>
                        </div>
                        <div class="flex justify-end">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=6520&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-right" >0</span>
                        </div>
                    </td>
                </tr>
                <tr class="border-b-3 border-gray-400 border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <div class="mb-2 text-xl font-black flex items-center">
                            <a href="#">인기글3 제목목입니다.</a>
                        </div>
                        <div class="text-gray-500 text-xl">
                            2025-02-11
                        </div>
                    </th>
                    <td class="">
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-red-highlight text-right">222</span>
                        </div>
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5 rotate-180">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-sky-highlight text-right">100</span>
                        </div>
                        <div class="flex justify-end">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=6520&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-right" >0</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-20">
            <div class="border-b  pb-2">
                <div class="flex items-center flex items-center justify-between gap-6">
                    <!-- 게시판 구분-->
                    <h2 class="text-2xl font-black ml-4">인기게시판</h2>
                    <!-- 게시판 구분-->
                </div>
            </div>
            <table class="w-full text-left">
                <tbody>
                <!-- 반복되는 게시글 부분 -->
                <tr class="border-b-3 border-gray-400 border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <div class="mb-2 text-xl font-black flex items-center">
                            <a href="#">인기글1 제목입니다.</a>
                        </div>
                        <div class="text-gray-500 text-xl">
                            2025-02-11
                        </div>
                    </th>
                    <td class="">
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-red-highlight text-right">526</span>
                        </div>
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5 rotate-180">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-sky-highlight text-right">100</span>
                        </div>
                        <div class="flex justify-end">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=6520&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-right" >0</span>
                        </div>
                    </td>
                </tr>
                <!-- 반복되는 게시글 부분 -->
                <tr class="border-b-3 border-gray-400 border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <div class="mb-2 text-xl font-black flex items-center">
                            <a href="#">인기글2 제목입니다.</a>
                        </div>
                        <div class="text-gray-500 text-xl">
                            2025-02-11
                        </div>
                    </th>
                    <td class="">
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-red-highlight text-right">322</span>
                        </div>
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5 rotate-180">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-sky-highlight text-right">100</span>
                        </div>
                        <div class="flex justify-end">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=6520&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-right" >0</span>
                        </div>
                    </td>
                </tr>
                <tr class="border-b-3 border-gray-400 border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <div class="mb-2 text-xl font-black flex items-center">
                            <a href="#">인기글3 제목목입니다.</a>
                        </div>
                        <div class="text-gray-500 text-xl">
                            2025-02-11
                        </div>
                    </th>
                    <td class="">
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-red-highlight text-right">222</span>
                        </div>
                        <div class="flex justify-end mb-2">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000" alt="like_button" class="w-5 h-5 rotate-180">
                            </a>
                            <span class="w-6 h-6 ml-2 text-main-sky-highlight text-right">100</span>
                        </div>
                        <div class="flex justify-end">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                <img src="https://img.icons8.com/?size=100&id=6520&format=png&color=000000" alt="like_button" class="w-5 h-5">
                            </a>
                            <span class="w-6 h-6 ml-2 text-right" >0</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
    </div>
</div>
</body>
</html>