<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 게시글</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <style type="text/tailwindcss">
        /*.font-roboto {*/
        /*    font-family: "Roboto", serif;*/
        /*}*/
        @theme {
            --color-main-sky-highlight: #00a3ed;
            --color-main-sky-basic: #9bdcfd;
            --color-main-red-highlight: #ff5353;
            --color-main-red-basic: #ff9898;
            --color-main-yellow-highlight: #fbc159ff;
            --color-main-yellow-basic: #fdd391;
        }
        .no-shadow {
            box-shadow: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script th:src="@{/js/postDetail.js}"></script>
</head>
<body>
<div class="flex flex-col w-full mobile-container relative bg-white rounded-lg shadow-lg mx-auto">
    <div class="mobile-container flex flex-col w-full  relative rounded-lg shadow-lg mx-auto bg-white">
        <div class="pt-28"><header th:replace="~{header :: header} " class="pt-4"></header></div>
        <div class="flex flex-col w-full max-w-6xl mx-auto p-10">

            <!-- 내 게시글  -->
            <div class="bg-gray-100 rounded-lg p-4">
                <div class="flex items-center">
                    <img class="w-10 h-10" src="https://img.icons8.com/?size=100&id=qk80fywuRYHr&format=png&color=000000" alt="내가작성한게시글">
                    <h2  class="text-3xl font-semibold text-gray-700">내가 작성한 게시글</h2>
                </div>
            </div>

            <div class="h-170 mb-10">
                <!-- 자유 게시판 -->
                <div class="rounded-lg pb-4 mt-5 w-auto">
                    <div class="flex justify-between items-center border-b border-gray-300">
                        <h2 class="text-2xl font-semibold text-gray-700 pb-4 pl-4"><a th:href="@{/board/myBoard/feelMyBoard}">자유 게시판</a></h2>
                    </div>
                </div>

                <!-- 게시글 리스트 -->
                <div th:each="myList01 : ${myBoardList01}" class="bg-gray-100 rounded-lg mb-4 p-4">
                    <div class="flex flex-col">
                        <!-- 게시글 리스트 (데이터 제외) -->
                        <div class="flex border-b border-gray-200 pb-1">
                            <div class="flex-1 pr-6 pl-10">
                                <div class="flex items-center gap-2">
                                    <a class="hover:text-main-sky-highlight inline-block w-40 truncate no-underline
                                           hover:no-underline text-xl"
                                       th:href="@{/board/{board_type}/{board_id}(board_type=${myList01.board_type},
                                           board_id=${myList01.board_id})}" th:text="${myList01.title}">인기글1 제목입니다.</a>
                                </div>
                                <p class="text-sm w-40 truncate" th:text="${myList01.content}">게시글 내용</p>
                                <span class="text-xs reg_date" th:data-reg-date="${myList01.reg_date}">2025-02-21</span>
                            </div>
                            <div class="px-6 ">
                                <div class="flex flex-col items-end">
                                    <div class="flex justify-between items-center w-full">
                                        <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000"
                                             alt="like" class="w-5 h-5">
                                        <span class="ml-2 text-main-red-highlight" th:text="${myList01.like_count}">22</span>
                                    </div>
                                    <div class="flex justify-between items-center w-full">
                                        <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000"
                                             alt="dislike" class="w-5 h-5 rotate-180 inline-block transform">
                                        <span class="ml-2 text-main-sky-highlight" th:text="${myList01.dislike_count}">10</span>
                                    </div>
                                    <div class="flex justify-between items-center w-full">
                                        <img src="https://img.icons8.com/?size=100&id=6520&format=png&color=000000"
                                             alt="comments" class="w-5 h-5">
                                        <span class="ml-2" th:text="${myList01.comment_count}">5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 하소연 게시판 -->
            <div class="rounded-lg pb-4 mt-5 w-auto">
                <div class="flex justify-between items-center border-b border-gray-300">
                    <h2 class="text-2xl font-semibold text-gray-700 pb-4 pl-4"><a th:href="@{/board/myBoard/whiningMyBoard}">하소연 게시판</a></h2>
                </div>
            </div>

            <!-- 게시글 리스트 -->
            <div th:each="myList02 : ${myBoardList02}" class="bg-gray-100 rounded-lg mb-4 p-4">
                <div class="flex flex-col">
                    <!-- 게시글 리스트 -->
                    <div class="flex border-b border-gray-200 pb-1">
                        <div class="flex-1 pr-6 pl-10">
                            <div class="flex items-center gap-2">
                                <a class="hover:text-main-sky-highlight inline-block w-40 truncate no-underline
                                       hover:no-underline text-xl"
                                   th:href="@{/board/{board_type}/{board_id}(board_type=${myList02.board_type},
                                       board_id=${myList02.board_id})}" th:text="${myList02.title}">인기글1 제목입니다.</a>
                            </div>
                            <p class="text-sm  w-40 truncate" th:text="${myList02.content}">게시글 내용</p>
                            <span class="text-xs reg_date" th:data-reg-date="${myList02.reg_date}">2025-02-21</span>
                        </div>
                        <div class="px-6">
                            <div class="flex flex-col  items-end">
                                <div class="flex justify-between items-center w-full">
                                    <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000"
                                         alt="like" class="w-5 h-5">
                                    <span class="ml-2 text-main-red-highlight" th:text="${myList02.like_count}">22</span>
                                </div>
                                <div class="flex justify-between items-center w-full">
                                    <img src="https://img.icons8.com/?size=100&id=82788&format=png&color=000000"
                                         alt="dislike" class="w-5 h-5 rotate-180 inline-block transform">
                                    <span class="ml-2 text-main-sky-highlight" th:text="${myList02.dislike_count}">10</span>
                                </div>
                                <div class="flex justify-between items-center w-full">
                                    <img src="https://img.icons8.com/?size=100&id=6520&format=png&color=000000"
                                         alt="comments" class="w-5 h-5">
                                    <span class="ml-2" th:text="${myList02.comment_count}">5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{footer :: footer}" class="pt-4"></footer>
</div>
</body>
</html>