<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Izikgram</title>
    <link th:href="@{/images/Logo.png}" rel="shortcut icon" type="image/x-icon">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <style type="text/tailwindcss">

        @theme {
            --color-main-sky-highlight: #00a3ed;
            --color-main-sky-basic: #9bdcfd;
            --color-main-red-highlight: #ff5353;
            --color-main-red-basic: #ff9898;
            --color-main-yellow-highlight: #fbc159ff;
            --color-main-yellow-basic: #fdd391;
        }
    </style>
</head>
<body>
<div class="flex flex-col w-full mobile-container relative bg-white rounded-lg mx-auto">
    <div class="pt-20"><header th:replace="~{header :: header} " class="pt-4"></header></div>
    <div class="p-6">
        <div class="border-b pb-2">
            <h2 class="text-4xl font-black" th:text="${board.board_type == 1 ? '자유게시판 글수정' : (board.board_type == 2 ? '하소연 게시판 글수정' : '잘못된 요청이다.')}"></h2>
        </div>
        <form id="postForm" th:action="@{/board/{board_type}/{board_id}(board_type=${board.board_type}, board_id=${board.board_id})}" method="post" onsubmit="return PostFormInsertButM()" class="">
            <input type="text" id="title" name="title" th:value="${board.title}"   class="border border-gray-300 rounded-md p-2 w-full my-5" maxlength="45" readonly>

            <div class="md:h-100 h-60">
                <textarea id="content" name="content" th:text="${board.content}" class="w-full h-full p-2 mt-2 border border-gray-300 rounded-xl text-gray-700 focus:ring-2 focus:ring-main-sky-basic focus:border-transparent outline-none resize-none"></textarea>
            </div>

            <div class="flex justify-center text-right mt-10 my-5 gap-6">
                <button type="submit" class="md:px-20 md:py-4 px-15 py-4  bg-main-sky-highlight text-white font-semibold
                                rounded-xl hover:bg-main-sky-basic transition-all cursor-pointer">
                    수정
                </button>
                <a href="javascript:history.back()" class="md:px-20 md:py-4 px-15 py-4 bg-gray-300 rounded hover:bg-main-sky-basic text-white rounded-xl cursor-pointer">
                    취소
                </a>
            </div>
        </form>
    </div>

    <!--  게시글 수정 모달창   -->
    <div id="postFormModal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500/75 transition-opacity max-w-[600px] mx-auto left-0 right-0"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-center justify-center p-4 text-center">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all max-w-sm w-full">
                    <div class="bg-sky-100 p-6 flex items-center justify-center">
                        <h3 id="postFormModalMessage" class="text-l font-semibold text-gray-800">제목을 입력하세요</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{footer :: footer}" class="pt-4"></footer>
</div>

<script>
    //게시글 수정 널값 확인 및 등록
    function OpenUpdateModal(message) {
        const modal = document.getElementById("postFormModal");
        const modalMessage = document.getElementById("postFormModalMessage");

        modalMessage.textContent = message;
        modal.classList.remove("hidden");

        setTimeout(CloseModal, 1000);
    }

    function CloseModal() {
        document.getElementById("postFormModal").classList.add("hidden");
    }

    function PostFormInsertButM(){
        const content = document.getElementById("content").value.trim();

        if(!content){
            OpenUpdateModal("수정할 게시글을 입력해주세요!")
            return false;
        }

        OpenUpdateModal("게시글이 수정 되었습니다!");

        setTimeout(function () {
            document.querySelector('form').submit();
        }, 1000);

        return false;
    }
</script>
</body>
</html>
