<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Izikgram</title>
    <link th:href="@{/images/Logo.png}" rel="shortcut icon" type="image/x-icon">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <style type="text/tailwindcss">

        @theme {
            --color-main-sky-highlight: #00a3ed;
            --color-main-sky-basic: #9bdcfd;
            --color-main-red-highlight: #ff5353;
            --color-main-red-basic: #ff9898;
            --color-main-yellow-highlight: #fbc159ff;
            --color-main-yellow-basic: #fdd391;
        }
    </style>
</head>
<body>
<div class="flex flex-col w-full mobile-container relative bg-white rounded-lg mx-auto">
    <div class="pt-20"><header th:replace="~{header :: header} " class="pt-4"></header></div>
    <div class="p-6">
        <div class="border-b pb-2">
            <h2 class="text-4xl font-black" th:text="${board.board_type == 1 ? '자유게시판 글수정' : (board.board_type == 2 ? '하소연 게시판 글수정' : '잘못된 요청이다.')}"></h2>
        </div>
        <form id="postForm" th:action="@{/board/{board_type}/{board_id}(board_type=${board.board_type}, board_id=${board.board_id})}" method="post" onsubmit="return PostFormInsertBut()" class="">
            <input type="text" id="title" name="title" th:value="${board.title}"   class="border border-gray-300 rounded-md p-2 w-full my-5" maxlength="45" readonly>

            <div class="md:h-100 h-60">
                <textarea id="content" name="content" th:text="${board.content}" class="w-full h-full p-2 mt-2 border border-gray-300 rounded-xl text-gray-700 focus:ring-2 focus:ring-main-sky-basic focus:border-transparent outline-none resize-none"></textarea>
            </div>

            <div class="flex justify-center text-right mt-10 my-5 gap-6">
                <button type="button" class="md:px-20 md:py-4 px-15 py-4  bg-main-sky-highlight text-white font-semibold
                                rounded-xl hover:bg-main-sky-basic transition-all cursor-pointer">
                    수정
                </button>
                <a href="javascript:history.back()" class="md:px-20 md:py-4 px-15 py-4 bg-gray-300 rounded hover:bg-main-sky-basic text-white rounded-xl cursor-pointer">
                    취소
                </a>
            </div>
        </form>
    </div>
    <!-- 게시글 수정 빈값 모달   -->
    <div id="postFormModal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500/75 transition-opacity max-w-[600px] mx-auto left-0 right-0"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-main-sky-highlight sm:p-4 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 id="postFormModalMessage" class="text-2xl font-semibold text-gray-900 p-2" >제목을 입력하세요</h3>
                            </div>

                        </div>
                    </div>
                    <div class="px-4 pt-20 pb-5 sm:flex sm:flex-row-reverse sm:px-6">
                        :)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{footer :: footer}" class="pt-4"></footer>
</div>
<script th:src="@{/js/postDetail.js}"></script>
</body>
</html>
